<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tools.videodownloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name="com.tools.videodownloader.AllVidApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllVidDownloader"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme, android:icon"
        tools:targetApi="30">

        <activity
            android:name="com.tools.videodownloader.CleanerAnimActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tools.videodownloader.tools.cleaner.CleanerHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tools.videodownloader.speedtest.SpeedTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tools.videodownloader.ui.activities.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.compress.PhotoCmpHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.compress.CompressPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.compress.CompressSavePhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.photoeditor.PicEditorHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.PicEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.collage_maker.ui.activities.CollageMakerHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.collage_maker.ui.activities.CollageSaveShareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.insta_grid.GridSaveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.insta_grid.InstaGridActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.video_player.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.AllDownloadsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.age_calc.AgeCalcDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.age_calc.AgeCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.photo_filters.deform.PhotoWarpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.photo_filters.deform.PhotoWarpHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.photo_filters.PhotoFilterHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.photo_filters.PhotoFiltersSaveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.photo_filters.PhotoFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.cartoonify.CartoonActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.cartoonify.SketchifyActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.cartoonify.CartoonifyHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.cartoonify.SketchifyHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.tools.cartoonify.SaveShareCartoonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.FullViewWASavedActivity"
            android:exported="false" />
        <activity
            android:name="com.tools.videodownloader.ui.mycreation.MyCreationFullViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.FBDownloaderHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.mycreation.MyCreationToolsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.InstaDownloaderHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:theme="@style/Dexter.Internal.Theme.Transparent" />
        <activity
            android:name="com.tools.videodownloader.tools.cleaner.CleanerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.StatusMakerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.WallpapersDetailsActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.RingtoneActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.FunnyVideosActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.collage_maker.ui.activities.CollageViewActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.VimeoActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.WallpapersActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.FBMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.FullViewWhatsappActivity"
            android:exported="false" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.FullViewActivity"
            android:exported="false" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.FullViewDownloadsActivity"
            android:exported="false" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.WAStatusActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.VideoViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.InstagramActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.InstaLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.ImageViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tools.videodownloader.ui.activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>